extends ../layout

block content
  .container
    .row
      .col-lg-8.mx-lg-auto
        h1.title-poll POLL LIST 
        .poll-list
          each poll in polls
            fieldset  
              .info 
                legend Tên cuộc khảo sát: #{poll.name}
                each val in poll.questions
                  p Câu hỏi: #{val.name}
                  if(val.type == 1)
                    p Loại câu hỏi là: Chỉ chọn được một đáp án   
                  else
                    p Loại câu hỏi là: Chọn được nhiều đáp án
                  each ans in val.answers
                    li= ans.name
                    .voting
                      li.vote-btn 
                        form(action=`/polls/${poll.id}/vote` method='POST')
                          input(type='hidden' name='answer_id' value=`${ans.id}`)
                          button.vote-btn(type='submit')  
                            | Vote
                      p.vote-count(name='') #{count_voting} 
                          | 0
                       
    a#btn-1(href ='/polls/new') Quay lại tạo form

    